.fix-result {
  margin: 0 auto;
  padding: 1em 0 2em;
  max-width: 50em;
  min-width: 300px;
  width: 100%;
}

.fix-result-item {
  background-color: #f5f4f4;
  margin: 2px 0;
  color: black;
}
.fix-result-item:hover {
  background-color: #e7e7e7;
}
.fix-result-item.invalid-item {
  color: #E91E63;
}

.fix-result-col {
  display: inline-block;
  padding: 0 0.5em;
  width: calc(100% / 4);
  text-align: left;
  vertical-align: top;
}

.fix-result-label,
.fix-result-value {
  display: inline-block;
  width: 100%;
}

.fix-result-label {
  font-size: 0.75rem;
  font-style: italic;
  font-weight: lighter;
}

.fix-result-value {
  font-size: 1.2em;
  word-break: break-all;
}
