.fix-result {
  margin: 0 auto;
  padding: 1em 0 2em;
  max-width: 50em;
  min-width: 300px;
  width: 100%;
}

.fix-result-item {
  background-color: #ffffff;
  margin: 2px 0;
  color: black;
  display: flex;
}

.fix-result-item:nth-child(odd) {
  background-color: #f7f7f7;
}


.fix-result-item:hover {
  background-color: #e7e7e7;
}

.fix-result-item.invalid-item {
  color: #e91e63;
}

.fix-result-col {
  display: flex;
  flex-direction: column;
  padding: 0 0.5em;
  width: calc(100% / 4);
  text-align: left;
  vertical-align: top;
}

.fix-result-col.field-col {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100px;
}

.fix-result-col.raw-col {
  flex-grow: 1;
}

.fix-result-col.desc-col {
  flex-grow: 1;
}

.fix-result-col.val-col {
  flex-grow: 2;
}

.fix-result-label,
.fix-result-value {
  display: inline-block;
  width: 100%;
  padding: 2px 0;
}

.fix-result-label {
  font-size: 0.75rem;
  font-style: italic;
  font-weight: lighter;
}

.fix-result-value {
  font-size: 1.2em;
  word-break: break-all;
}
