p {
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  height: 80px;
  width: 100%;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*
###############
# fix-version #
###############
*/
.fix-version {
  display: inline-block;
  width: 100%;
  padding: 2em 0 0;
}

.fix-version-title {
  font-size: 1.2em;
  vertical-align: middle;
  margin: 1em 0 0.5em;
}

.fix-version-list {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
}

/*
##############
# disclaimer #
##############
*/
.disclaimer-container {
  position: relative;
  padding: 1em;
  color: #cecece;
  font-style: italic;
}
.disclaimer-container:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 10em;
  height: 1px;
  background-color: #ddd;
}
