p {
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  height: 80px;
  width: 100%;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*
###############
# fix-version #
###############
*/
.fix-version {
  display: inline-block;
  width: 100%;
  padding: 2em 0 0;
}

.fix-version-title {
  font-size: 1.2em;
  vertical-align: middle;
  margin: 1em 0 0.5em;
}

.fix-version-list {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
}

/*
##############
# disclaimer #
##############
*/

.footer-container {
  position: relative;
  font-size: 0.75rem;
  padding-bottom: 1em;
}

.footer-container:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 10em;
  height: 1px;
  background-color: #222;
}

.disclaimer {
  position: relative;
  padding: 1em;
  color: #222;
  font-style: italic;
}

/*
#############
# madewidth #
#############
*/

.madewith {
  vertical-align: middle;
  font-size: 1rem;
}
.madewith .material-icons {
  vertical-align: top;
}

/*
##########
# madeby #
##########
*/

.madeby {
  margin-top: 0.25em;
  font-size: 0.875rem;
}

.madeby-divider {
  padding: 0 0.35em;
  font-size: 1.15rem;
  vertical-align: middle;
}

.madeby-link {

}

.link-to-linkedin {
  color: #2578b5;
}
